#flash
  - if flash[:success]
    %p.success= flash[:success]
  - elsif flash[:error]
    %p.error= flash[:error]

.left-main
  - if @unconfirmed_matches and @unconfirmed_matches.count
    %table.unconfirmed-matches
    - @unconfirmed_matches.each do |m|
      - other = m.winner_id == @user.id ? m.loser : m.winner
      %tr
        %td= "Against #{other.name}"
        %td= "on #{m.date}"
        %td
          %a{:href=>"/matches/#{m.id}/confirm"} Confirm
        %td
          %a{:href=>"/matches/#{m.id}/dispute"} Dispute
    %h1 My Standing

  .ladder
    %table.dblist
      %thead
        %tr
          %th{:width => "20%"} Rank
          %th Name
          %th{:width => "20%"} Rating
      - @above_ranks.each do |n|
        - c = n.id == @user.id ? "user full" : "full"
        %tr{:class => c}
          %td= n.rank
          %td
            %a{:href=>"/user/#{n.id}"}= n.name
          - if n.matches.count < 4
            %td= "#{n.rating}*"
          - else
            %td= n.rating
      - @nearby_ranks.each do |n|
        - c = n.id == @user.id ? "user partial" : "partial"
        %tr{:class => c}
          %td= n.rank
          %td
            %a{:href=>"/user/#{n.id}"}= n.name
          - if n.matches.count < 4
            %td= "#{n.rating}*"
          - else
            %td= n.rating
      - @below_ranks.each do |n|
        - c = n.id == @user.id ? "user full" : "full"
        %tr{:class => c}
          %td= n.rank
          %td
            %a{:href=>"/user/#{n.id}"}= n.name
          - if n.matches.count < 4
            %td= "#{n.rating}*"
          - else
            %td= n.rating

    .pull-right
      %button.rankings_toggle.expand.partial +
      %button.rankings_toggle.expand.full -


.right-main
  %h1 My Matches

  %table.dblist
    %thead
      %tr
        %th{:width => "60%"} Date
        %th Opponent
        %th{:width => "20%"} Score
    - @confirmed_matches.each do |m|
      - c = "tie"
      - if m.winner_id == @user.id
        - opp = m.loser
        - c = "win" if not m.tie
      - else
        - opp = m.winner
        - c = "lose" if not m.tie
      %tr
        %td= m.date
        %td
          %a{:href=>"/user/#{opp.id}"}=opp.name
        %td{:class => c}= "#{m.winner_score}-#{m.loser_score}"

  .pull-right
    %button.rankings_toggle.expand.partial +
    %button.rankings_toggle.expand.full -

  %h1 My availabilities

  %table.availabilities
    - @availabilities.each do |a|
      %tr
        -# For formatting, look up Ruby Time formatting
        %td= a.start_t
        %td= a.end_t
        %td.delete 
          = link_to "X", availability_path(a), method: :delete

  %a.add-avail{href: "#"} Add availabilities
  = form_for @availability, url: { controller: "availabilities", action: "create" } do |f|
    = label_tag "Start time"
    = f.datetime_select :start_t, placeholder: "Start time"
    %br
    = label_tag "End time"
    = f.datetime_select :end_t, placeholder: "End time"
    %br
    = hidden_field(:availability, :user_id)
    = f.submit "Create"

  -# http://guides.rubyonrails.org/form_helpers.html
  -# http://guides.rubyonrails.org/routing.html#resource-routing-the-rails-default
